*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-white{
    color: white;
}
.text-black{
    color: black;
}


header{
    height: 700px;
    background-size: 100% 100%;
    background-image: url("img/jumbo.png");
}

.container{
    width: 70%;
    margin: auto;
}

ul li{
   list-style: none;
   display: inline;
   padding: 20px;
   
}

ul{
    text-align: center;
    
}

a{
    text-decoration: none;
}

.float-left{
    float: left;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#navigat{
    line-height: 80px;
}

.vert-align{
    vertical-align: middle;
}

.lh40{
    line-height: 40px;
}

.lh60{
    line-height: 60px;
}
.w7{
    width: 7%;
}
.w10{
    width: 10%;
}
.w20{
    width: 20%;
}

.w70{
    width: 70%;
}

.w100{
    width: 100%;
}

.h620{
    height: 620px;
}

.bgc-white{
    background-color: white;
}
.bgc-black{
    background-color: rgb(29, 28, 28);
}

.temp-btn{
    border-radius: 50px;
    margin: 20px 0px;
    text-align: center;
}

.pos-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pos-rel{
    position: relative;
}

.fnt70{
    font-size: 70px;
}

.fnt20{
    font-size: 20px;
}

#h-par{
    margin: 30px 0 15px;
}