*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

/* height class */

.h100{
    height: 100%;
}

.h80{
    height: 80%;
}

.h20{
    height: 20%;
}

/* end height class */

/* width class */

.w100{
    width: 100%;
}

.w80{
    width: 80%;
}

.w70{
    width: 70%;
}

.w50{
    width: 50%;
}

.w15{
    width: 15%;
}

/* end width class */

/* general */

a{
    text-decoration: none;
    color: white;
    font-weight:bold;    
}

a:hover{
    text-decoration: underline;
}

li{
    list-style: none;
}

.container{
    width: 100%;
    padding: 0 10%;
}

.bg-cont{
    background-color: #e5e5e5;
}

.vertalign{
    vertical-align: middle;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}


.txt-center{
    text-align: center;
}

.txt-white{
    color: white;
}

.txt-black{
    color: black;
}

.brand-btn{
    background-color: white;
    border-radius: 50px;
    padding: 10px 30px;
    color: black;
}

.prelative{
    position: relative;
}

/* end general */

/* for header */

header{
    height: 60vh;
    background-image: url("img/jumbo.png");
    background-position: center;
    background-size: cover;
}

header nav{
    line-height: 80px;
}

header li{
    padding: 0 2%;
    display: inline;
}

.jumbo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo h1{
    font-size: 3.5em;
}

.jumbo p{
    margin: 7% 0;
    font-size: 1.2em;
    line-height: 25px;
}

.jumbo a{
    font-size: 1.2em;
    padding: 15px 30px;
    margin: 0 2%;
}

.jumbo a:last-child{
    background-color: rgb(34, 34, 34);
    color: white;
}

/* end for header */

/* for main */

main section{
    padding: 10% 0; 
}

.wave{
    display: grid;
    filter: invert(0.9);
}

.waverot{
    transform: rotate(180deg);
}

.sec-txt{
    padding: 0 15% 0 10% ;
}

.sec-txt h1{
    margin-top: 30px;
    font-size: 3em;
}

.sec-txt p{
    margin-top: 5%;
    font-size: 1.2em;
    line-height: 30px;
}


.sec-four{
    text-align: center;
}

.sec-four h2{
    font-size: 1.5em;
    margin-bottom: 5%;
    background-image: url("img/stars.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 0;
}

.sec-four a{
    background-color: rgba(94, 105, 160, 0.705);
    color: white;
    font-size: 1.2em;
    padding: 15px 30px;
    margin: 0 2%;
}
/* end for main */

/* for footer */

footer{
    background-color: rgb(46, 46, 46);
}

footer section:nth-child(1){
    padding: 7% 0;
}

.foot-link {
    float: left;
    margin: 0px 5%;
}

.foot-link ul li:nth-child(1) {
    color: rgba(94, 105, 160, 0.705);
    font-size: 1.2em;
    font-weight: bold;
}

.foot-link li{
    line-height: 25px;
}

footer div.w30{
    padding-right: 50px;
}

footer div.w30 h1{
    color: rgba(94, 105, 160, 0.705);
    font-size: 1.8em;
}

.lang{
    width: 8%;
}

footer div.w30 select{
    margin: 7% 0;
    background: none;
    border: none;
    color: white;
}

.foot-icon i{
    color: white;
    margin-right: 5%;
}

footer section:nth-child(2){
    padding: 3% 0 7%;
    border-top: 1px solid rgba(94, 105, 160, 0.705);
}

footer section:nth-child(2) a{
    background-color: rgba(94, 105, 160, 0.705);
    color: white;
}

/* end for footer */